body {
    margin:0;
    background-color: #F1F7EE;
}
.navbar{
    background-color: #fcfcfc;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    color: rgb(0, 0, 0);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    z-index: 1000;
}
.navbarInner{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    padding: 0 20px;
}
.navbarContent{
    display:flex;
    flex-direction: row;
    align-items: start;
    justify-content: left;
    row-gap: 20px;
    column-gap: 40px;
    color: rgb(255, 252, 252);
    text-align: center;
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
}
.colorChange a{
    color: #000000 !important;
    text-decoration: none !important;
    transition: 0.5s all;
}
.colorChange a:hover{
    color: #cf9033 !important;
    text-decoration: none !important;
    
}
.bannerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;

    background-image: url("https://i.pinimg.com/originals/40/cc/60/40cc602b3186be5fedd686e4dfc34711.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: -20px;
    
}
.image-box {
  background-color: #ECECEC;
    position: relative;
    display: inline-block;
    margin: 20px;
    width: 400px;
    border-radius: 10px;
    
  }
  
  .image-box img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 400px; 
    height: 350px;
  }
  
  .overlay {
    position: absolute;
    border-radius: 10px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay:hover {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding-top: 90px;
  }
  .text p:hover{
    color: #cf9033 !important;
    text-decoration: none !important;
    transition: 0.5s;
    
}
  .middleText {
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bolder;

  }
  .middletext2 {
    opacity: 0.6;
    text-align: center;
  }
  .content {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;

  }
  .icons p {
    cursor: pointer;
    font-size: 17px;
  }
  .icons p:hover{
    color: #cf9033 !important;
    text-decoration: none !important;
    
}
.bannerInnerContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px;

}
.bannerRightContainer {
    width: 500px;
    background-color: #fdf5e2;
    height: 300px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}
.bannerRightContainer p {
    letter-spacing: 3px;
    padding-left: 3px;
    
    
}
.bannerRightContainer h2 {
    color: #cf9033;
    font-size: 40px;
    font-weight: bold;
    margin-top: -8px;

} 
.bannerLeftContainer {
    width: 70%;
    
    
}
.bannerRightContainer h6{
    color: rgb(0, 0, 0);
    font-size: 15px;
    opacity: 0.5;
    line-height: 20px;
    padding-left: 3px;
}
.bannerRightContainer button {
    border: 1px solid #cf9033;
    outline: none;
    background-color: #cf9033;
    color: white;
    padding: 15px 35px;
    border-radius: 8px;
    font-weight: bold;
    margin-left:3px;
    margin-top: 25px;
    transition: 0.5s all;

}
.bannerRightContainer button:hover {
    border: 1px solid #cf9033;
    outline: none;
    background-color: transparent;
    color: #cf9033;
    padding: 15px 35px;
    border-radius: 8px;
    font-weight: bold;
    margin-left:3px;
    margin-top: 25px;

}
.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
    align-items: center;
    margin-bottom: -5px;
    margin-top: 20px;
    
}
.innerCard{
    width: 300px;
    height: 350px;
    border-radius: 10px;

}
.imageContainer{
    width: 300px;
    height: 300px;
    background-color: rgb(225, 204, 204);
    border-radius: 10px;

}
.imageContainer img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;

}
.descContainer p {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #cf9033; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #cf9033; 
  }

.furnitureName {
  font-weight: bold !important;
  color: #cf9033;
  text-align: start;
  font-size: 23px;
  padding-top: 5px;
  padding-left: 7px;
}
.furnitureDesc{
  text-align: start;
  font-size: 14px;
  padding-left: 7px;
  opacity: 50%;
}
.furniturePrice {
  color: #cf9033;
  text-align: start;
  font-size: 17px;
  padding-left: 7px;
  font-weight: 400;
  
}
.furnitureOldPrice {
  color: #000000;
  opacity: 50%;
  font-size: 13px;
  padding-right: 10px;
}

.addToCart button{
  color: #ffffff;
  border: 2px solid white;
  border-radius: 44px;
  background-color: transparent;
  font-weight: 400;
  padding: 10px 25px;
  transition: 0.5s all;
}
.addToCart button:hover{
  color: #cf9033;
  border: 2px solid white;
  border-radius: 4px;
  background-color: white;
  font-weight: 400;
  padding: 10px 25px;
  

}
.priceSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 
  width: 100%;
  align-items: center;

}
.offer {
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding-top: 10px;
  color: white !important;
}
.offer2 {
  width: 50px;
  height: 50px;
  background-color: rgb(91, 198, 110);
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding-top: 10px;
  color: white !important;
}

.fa {
  padding: 15px;
  font-size: 30px;
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 3px 2px;
  border-radius: 50%;
  align-items: center;
}

.fa:hover {
  text-decoration: none;
    opacity: 0.7;
    color: #cf9033;
}
.fa-facebook {
  padding-top: 20px;
  background: white;
  color: orange;
}
.fa-twitter {
  padding-top: 20px;
  background: white;
  color: orange;
}
.fa-linkedin {
  padding-top: 20px;
  background: white;
  color: orange;
}
.fa-instagram {
  padding-top: 20px;
  background: white;
  color: orange;
}
.upperFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #f98f00;
  height: 50px;
  bottom: 0;
  padding: 40px 20px;
  
}

.leftFooter {
  font-size: 18px;
  font-weight: bolder !important;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 5px;
}
.middleFooter{
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #1F2833;
  padding: 20px;

}

.companyNameFooter {
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start; 
  padding-left: 15px;
  text-decoration: underline;
}
.companyNameFooterDesc{
  
  padding-top: 0;
  padding-left: 15px;
  color: white;
  opacity: 0.5;
}
.companyNameFooter{
  text-decoration: underline;
}
.footerProducts a{
  text-decoration: none !important;
  color:white;
  line-height: 25px;
  opacity: 0.5;
}

.companyProductsFooter{
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  padding-top: 18px;
  text-decoration: underline;
}
.companyLinksFooter{
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  padding-top: 18px;
  text-decoration: underline;
}
.companyContactFooter{
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: start;
  padding-top: 18px;
  text-decoration: underline;
}
.lowerFooter{
  text-align: center;
  font-weight: bold;
  background-color: #1F2833;
  justify-content: space-between;
  padding: 10px 20px;
  border-top:1px solid #e4e1e1;
}
.lowerFooter p {
  padding-top: 14px;
  color: white;
}
.footerlinks{
  text-decoration: none !important;
  color:white;
  line-height: 25px;
  opacity: 0.5;
}
.footerContact{
  text-decoration: none !important;
  color:white;
  line-height: 25px;
  opacity: 0.5;
}
.footerlinks a{
  text-decoration: none !important;
  color:white;
  line-height: 25px;
}
.footerContact a{
  text-decoration: none !important;
  color:white;
  line-height: 25px;
}

.ourProducts{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:0px 50px;
}
